* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    padding: 1em;
    border-bottom: 1.5px solid #0C8F8F;
}

li, a {
    text-decoration: none;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
    color: #0C8F8F;
}

.navlinks li a:hover {
    color: #60e9e9;
}

