.regbtn {
    position: absolute;
    top: 15%;
    left: 86.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 30px;
    width: 100px;
    padding: 5px 25px;
    color: #ddecec;
    background-color: #0C8F8F;
    border: 1px solid #0C8F8F;
    border-radius: 5px;
  }