.footer {
    box-sizing: border-box;
    margin: 0;
    padding: 3em;
    text-align: center;
}

li, a {
    text-decoration: none;
}

.footerlinks {
    list-style: none;
    font-family: 'Hind', sans-serif;
}

.footerlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.footerlinks li a {
    transition: all 0.3s ease 0s;
    color: #0E0E73;
}

.footerlinks li a:hover {
    font-weight: 900;
}

hr {
    margin: 15px; 
}