.logbtn {
    position: absolute;
    top: 15%;
    left: 95%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 30px;
    width: 100px;
    padding: 5px 25px;
  }
  