.form-wrapper {
    top: 25px;
    left: 350px;
    width: 855px;
    height: 655px;
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
    border-color: rgba(208, 246, 246, 1);
    border-style: solid;
    border-width: 1.2px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    filter: drop-shadow(0px 4px 60px #C2BCB7);
}

.container {
    width: 855px;
    height: 655px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 8px;
}

.firstname .lastname {
    top: 152px;
    left: 441px;
    width: 326px;
    height: 59px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
}

#firstname {
    top: 23%;
    bottom: 68%;
    left: 11%;
    right: 52%;
    width: 326px;
    height: 59px;

    position: absolute;
    box-sizing: border-box;
    object-fit: cover;

    border-color: beige;
    border-style: solid;
    border-width: 1.2px;
    border-radius: 7px;
    background-color: rgb(255, 249, 243, 0.95);
}

#lastname {
    top: 23%;
    bottom: 68%;
    left: 51%;
    right: 11%;
    width: 326px;
    height: 59px;

    position: absolute;
    box-sizing: border-box;
    object-fit: cover;

    border-color: beige;
    border-style: solid;
    border-width: 1.2px;
    border-radius: 7px;
    background-color: rgb(255, 249, 243, 0.95);
}


.register {
    top: 551px;
    left: 87px;
    width: 156px;
    height: 51px;

    position: absolute;
    box-sizing: border-box;
    object-fit: cover;

    border-color: transparent;
    border-radius: 25px 25px 25px 0px;

    background-color: #FF7D34;
    color: rgb(255, 249, 243, 0.95);
    display: flex;
    align-items: center;
    text-align: center;

    font-size: medium;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.015em;

    
}

/*
.registertext {
    
}*/

.telephone {
    top: 35%;
    bottom: 56%;
    right: 10%;
    left: 10%;
    width: 679px;
    height: 59px;

    border-radius: 7px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: rgb(255, 249, 243, 0.95);
}

#telephone {
    top: 0px;
    left: 1%;
    width: 670px;
    height: 59px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: beige;
    border-style: solid;
    border-width: 1.2px;
    border-radius: 7px;
    background-color: rgb(255, 249, 243, 0.95);
}

.mail {
    top: 279px;
    left: 2%;
    width: 679px;
    height: 59px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
}

#mail {
    top: 47%;
    bottom: 44%;
    left: 11%;
    right: 11%;
    width: 670px;
    height: 59px;

    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: beige;
    border-style: solid;
    border-width: 1.2px;
    border-radius: 7px;
    background-color: rgb(255, 249, 243, 0.95);
}

.password {
    top: 385px;
    left: 19px;
    width: 670px;
    height: 59px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
}

#password {
    top: 0px;
    left: 11%;
    right: 11%;
    width: 670px;
    height: 59px;

    position: absolute;
    box-sizing: border-box;
    object-fit: cover;

    border-color: beige;
    border-style: solid;
    border-width: 1.2px;
    border-radius: 7px;
    background-color: rgb(255, 249, 243, 0.95);
}

.repeat {
    top: 465px;
    left: 19px;
    width: 670px;
    height: 59px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
}

#repeat {
    top: 0px;
    left: 11%;
    right: 11%;
    width: 670px;
    height: 59px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: beige;
    border-style: solid;
    border-width: 1.2px;
    border-radius: 7px;
    background-color: rgb(255, 249, 243, 0.95);
}

.registration {
    top: 12%;
    bottom: 82%;
    left: 23%;
    right: 61%;
    width: 158px;
    height: 56px;

    position: absolute;
    box-sizing: border-box;
    box-shadow: 4px 4px 35px rgba(217, 217, 217, 0.6);
    object-fit: cover;

    border-radius: 25px 25px 25px 0px;
    border: 1px solid #FFF9F3;
    background-color: #FFF9F3;
    
    color: #FF7D34;
    font-size: medium;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 36px;
    letter-spacing: -0.015em;

    
  }

  .login  {
    top: 12%;
    bottom: 82%;
    left: 11%;
    right: 77%;
    width: 114px;
    height: 56px;

    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    border-radius: 25px 25px 25px 0px;

    box-shadow: 4px 4px 35px rgba(217, 217, 217, 0.6);
    background-color: #FFF9F3;

    color: rgba(14, 14, 115, 0.45);
    font-size: 17px;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.015em;
  }