header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 50px 30px;
}

h1 {
    color: black;
    text-align: center;
    font-size: xx-large;
}

/*HELP! for the life of me I can't center the nav bar on the page!*/

nav a { 
    justify-content: center;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

p {
    flex: auto;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

section.footer-theraply {
    width: 100%;
    display: inline-block;
    background: #f1f1f1;
    height: 50px;
    padding: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

footer .footer-left {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    justify-content: left;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
}

footer a:link {
    text-decoration: none;
    color: black;
}

footer .footer-center {
    width: 33%;
    display: inline-block;
	vertical-align: top;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
}

.footer-center p {
    padding: 20px;
}

footer .footer-right {
    width: 33%;
    display: inline-block;
	vertical-align: top;
    justify-content: right;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
}

h3 {
    text-align: center;
}